.form {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 371px;
}

.input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0.04em;
  outline: none;
  padding: 8px 16px;
  transition: border-color 250ms;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.input:hover {
  border-color: #000;
}

.input:focus {
  border-color: #4e75ff;
}

.button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  background-color: #4e75ff;
  transition: background-color 250ms;
}

.btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 80vw;
  margin: 0 auto;
}

.gallery-item {
  flex: calc((100% - 24px * 2) / 3);
  border: 1px solid #808080;
  position: relative;
}

.gallery-item img {
  height: 100%;
}

.gallery-info {
  padding: 4px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.gallery-details {
  display: flex;
  justify-content: space-around;
}

.detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}

.detail-value {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: none;
  margin: 15px auto;
  position: relative;
  background: #808080;
  box-shadow: -24px 0 #808080, 24px 0 #808080;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #808080;
    box-shadow: -24px 0 #4e75ff, 24px 0 #808080;
  }

  66% {
    background: #4e75ff;
    box-shadow: -24px 0 #808080, 24px 0 #808080;
  }

  100% {
    background: #808080;
    box-shadow: -24px 0 #808080, 24px 0 #4e75ff;
  }
}
